@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');
body {
    background-image: url(/img/2533760_8247\ 1\ \(2\).svg);
    background-position: 62% -14vh;
    background-repeat: no-repeat;
    background-color: #0D081E;
    margin: 0
}

.menu {
    display: flex;
    margin: 6px 14px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.burger {
    display: flex;
}

h1 {
    color: white;
    font-size: 36px;
    margin: 0;
}

h1,
p,
a,
h2 {
    font-family: "Average Sans";
    font-weight: 200;
}

.button {
    width: 30vw;
    height: 4vh;
    background-color: #D9D9D9;
    border-radius: 27px;
    font-size: 2.4vmax;
    color: #473A9B;
    border: none;
    font-family: "Average Sans";
    font-weight: 400;
}

#calculator {
    font-family: "Average Sans";
    width: auto;
    padding: 0 18px ;
    height: 410px;
    background-color: #1E1E1E;
    border-radius: 20px;
    margin: 665px 15px 0 15px;

}

.calculatorH {
    color: #473A9B;
    font-weight: 400;
    font-size: 32px;
    margin: 0;
}
.selectOfTime{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.btnSelect{
    border: 1px solid black;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 160px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    font-weight: 500;
}
.lines{
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 410px;
    color: white;
}
.textCal{
    font-size: 16px;
}
.tableCal{
    display: flex;
}
.upperPartCal   {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.getTime{
    padding-left: 7px;
}
.inputTime{
    height: 30px;
    width: 90px;
}
.secondBtn{
    width: 145px;
}