body {
    background-color: #d1dbe4;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.upperHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
}

h1 {
    font-size: 3vw;
    margin-left: 1vh;
    margin-top: 0;
    margin-bottom: 0;
    color: #d1dbe4;
    align-self: center;
}

.favic {
    width: 6vw;
    height: 8vh;
}

.btn {
    color: #d1dbe4;
    display: block;
    text-decoration: none;
    background-color:#7593af;
    border: 0;
    height: 8vh;
    font-size: 2.3vh;
}

.leftHeader {
    display: flex;
    flex-direction: row;
}

.tableCell {
    border-left: 0.2vh solid #194a7a;
    border-right: 0.2vh solid #194a7a;
}

.withTable {
    border-radius: 5px 0 5px 5px;
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    align-items:center;
    justify-content: flex-end;
    width: auto;
}
p {
    color: #476f95;
}
header {
    background-color: #7593af;
    height: auto;
}
.pInHeader{
    color: #d1dbe4;
    font-size: 2.5vh;
    margin-bottom: 1vh;
}
.divWithPInHeader{
  padding-left: 1vw;
  width: 60vw;
  line-height:2.7vh;
}
#lastBtn{
  font-size: 1.5vh;
  color: #d1dbe4;
  display: block;
  text-decoration: none;
  background-color:#7593af;
  border: 0;
  padding-top: 0;
  font-size: 1.4vh;
}
.lastBtn{
  display: flex;
  justify-content: flex-end;
}
.main{
  margin-left: 10vw;
  margin-right: 10vw;
}