body {
    background-color: #040316;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.upperHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 10vw;
    margin-left: 10vw;
    justify-content: space-between;
}

h1 {
    font-size: 3vw;
    margin-left: 1vh;
    margin-top: 0;
    margin-bottom: 0;
    color: #e6e6ef;
    align-self: center;
}

.favic {
    width: 5vw;
    height: 8vh;
    margin-bottom: 0.5vh;
}

.menu {
    color: #e6e6ef;
    display: block;
    text-decoration: none;
    background-color: #060340;
    border: 0;
    height: 8vh;
    font-size: 3vh;
    margin: 0 1.5vw;
    cursor: pointer
}

.Logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.withTable {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p {
    color: #476f95;
    margin-bottom: 2.5vh;
    margin-top: 0;
}

header {
    background-color: #060340;
    height: auto;
    margin: 0;
}

.main {
    margin-left: 10vw;
    margin-right: 10vw;
}

.main p {
    font-size: 2.7vh;
}

h2 {
    font-size: 3vh;
    padding: 1vh 0;
    margin: 0;
    color: #e6e6ef;
}

.text {
    background-color: #040316;
    padding: 0 1vw;
}

.navigation {
    height: auto;
    border: 0.5vh solid white;
    width: auto;
    display: flex;
    align-items: start;
    border-radius: 1vw;
    flex-direction: column;
    width: max-content;
}
li{
    color: #e6e6ef;
}
.btn{
    border: none;
    text-decoration: none;
    background-color:#040316;
    color:#e6e6ef;
    cursor: pointer;
    width: auto;
    font-size: 2.3vh;
}
#calculator{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
}
.mainCal{
    height: 40vh;
    width: 40vw;
    background-color: white;
    border-radius: 5%;
}
.Stats{
    display: flex;
    flex-direction: column;
}
.firstChart{
    height: 20vh;
    width: 20vw;
    background-color: white;
    border-left: 1vh solid black;
    border-radius: 10% 10% 0 0;
    border-bottom: 0.3vh dashed black;
}
.secondChart{
    height: 20vh;
    width: 20vw;
    background-color: white;
    border-left: 1vh solid black;
    border-radius: 0 0 10% 10%;
}